@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700;800;900&family=Plus+Jakarta+Sans:wght@300;400;500;600;700;800&family=JetBrains+Mono:wght@300;400;500;700&display=swap");

:root {
    /* Colors */
    --color-surface: #10141a;
    --color-surface-dim: #10141a;
    --color-surface-bright: #353940;
    --color-surface-container-lowest: #0a0e14;
    --color-surface-container-low: #181c22;
    --color-surface-container: #1c2026;
    --color-surface-container-high: #262a31;
    --color-surface-container-highest: #31353c;
    --color-on-surface: #dfe2eb;
    --color-on-surface-variant: #bbc9cf;
    --color-inverse-surface: #dfe2eb;
    --color-inverse-on-surface: #2d3137;
    --color-outline: #859399;
    --color-outline-variant: #3c494e;
    --color-surface-tint: #4cd6ff;
    --color-primary: #a4e6ff;
    --color-on-primary: #003543;
    --color-primary-container: #00d1ff;
    --color-on-primary-container: #00566a;
    --color-inverse-primary: #00677f;
    --color-secondary: #d1bcff;
    --color-on-secondary: #3c0090;
    --color-secondary-container: #7000ff;
    --color-on-secondary-container: #ddcdff;
    --color-tertiary: #ffd1d5;
    --color-on-tertiary: #670020;
    --color-tertiary-container: #ffa9b2;
    --color-on-tertiary-container: #9f0036;
    --color-error: #ffb4ab;
    --color-on-error: #690005;
    --color-error-container: #93000a;
    --color-on-error-container: #ffdad6;
    --color-primary-fixed: #b7eaff;
    --color-primary-fixed-dim: #4cd6ff;
    --color-on-primary-fixed: #001f28;
    --color-on-primary-fixed-variant: #004e60;
    --color-secondary-fixed: #e9ddff;
    --color-secondary-fixed-dim: #d1bcff;
    --color-on-secondary-fixed: #23005b;
    --color-on-secondary-fixed-variant: #5700c9;
    --color-tertiary-fixed: #ffd9dc;
    --color-tertiary-fixed-dim: #ffb2ba;
    --color-on-tertiary-fixed: #400011;
    --color-on-tertiary-fixed-variant: #910031;
    --color-background: #10141a;
    --color-on-background: #dfe2eb;
    --color-surface-variant: #31353c;

    /* Fonts */
    --font-display: "Outfit", sans-serif;
    --font-body: "Plus Jakarta Sans", sans-serif;
    --font-mono: "JetBrains Mono", monospace;

    /* Spacing */
    --spacing-unit: 4px;
    --spacing-container-margin: 24px;
    --spacing-gutter: 16px;
    --spacing-stack-sm: 8px;
    --spacing-stack-md: 16px;
    --spacing-stack-lg: 32px;
}

html, body, #root {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color-surface);
    overflow-x: hidden;
}

body {
    color: var(--color-on-surface);
    font-family: var(--font-body);
}
